[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
ariadne = "*"
dill = "==0.2.4"
icecream = "*"
werkzeug = "*"
pytest = "*"
snapshottest = "*"
requests = "*"
opentracing = "*"

[dev-packages]

[requires]
python_version = "3.9"
