[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
#werkzeug = "!=2.0.1"
#pytest = "!=6.2.4"
#snapshottest = "*"
#opentracing = "*"
#alembic = "!=1.6.5"
#pydantic = "!=1.8.2"
#sqlalchemy = "!=1.4.19"
#pyjwt = "!=2.1.0"
#psycopg2-binary = "*"
#setuptools = "*"
#plugs-ariadne-jwt = "*"
#ariadne-extensions = "*"
fastapi = "==0.68.2"
dill = "==0.2.4"
pytest = "*"
icecream = "*"
python-dotenv = "*"
lock = "*"
alembic = "*"
aniso8601 = "*"
appdirs = "*"
asgiref = "*"
bcrypt = "*"
cffi = "*"
click = "*"
colorama = "*"
cryptography = "*"
h11 = "*"
mako = "*"
markupsafe = "*"
mypy-extensions = "*"
pathspec = "*"
promise = "*"
pycparser = "*"
pydantic = "*"
pyjwt = "*"
python-dateutil = "*"
python-editor = "*"
regex = "*"
rx = "*"
singledispatch = "*"
six = "*"
sqlalchemy = "*"
starlette = "*"
toml = "*"
typing-extensions = "*"
psycopg2 = "*"
black = "==21.6b0"
sqlparse = "==0.4.1"
ariadne = "==0.13.0"
requests = "*"
broadcaster = "*"
asyncio-redis = "*"
redis = "*"
graphql-core = "==3.1.6"
graphene-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
